<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>160630081537-r14h5ub8q0lt2o9q5sg5emlad3g55cg0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.160630081537-r14h5ub8q0lt2o9q5sg5emlad3g55cg0</string>
	<key>API_KEY</key>
	<string>AIzaSyChMiTE5Od0kvslXgcjt6TDFbdGg92-Hrk</string>
	<key>GCM_SENDER_ID</key>
	<string>160630081537</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testFlutter</string>
	<key>PROJECT_ID</key>
	<string>avatarize-2001</string>
	<key>STORAGE_BUCKET</key>
	<string>avatarize-2001.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:160630081537:ios:626cf0b12ce004c6ca5800</string>
	<key>DATABASE_URL</key>
	<string>https://avatarize-2001.firebaseio.com</string>
</dict>
</plist>